<div class="panel panel-default tracks">
  <div class="panel-heading">
	<div class="menu">
	  <a class="btn btn-default" href="#Gui/Main" role="button">
        <span class="glyphicon glyphicon-step-backward"></span>
      </a>
	</div>
	<h3 class="panel-title">View Events By Tracks - Track list</h3>
  </div>
  <div class="panel-body row">
	<div class="col-xs-4 tracks-content" ng-repeat="track in tracks track by $index">
      <div class="thumbnail track">
        <a ng-href="#/Gui/Events/ByTrack/{{track}}">{{track}}</a>
      </div><!-- /.track -->
    </div><!-- /.tracks-content -->
  </div><!-- /.panle-body -->
</div><!-- /.tracks -->
