<!--<div class="panel-body row">
  <div class="col-xs-6 col-sm-3">
    <a href="#Gui/Events/All">View All Events</a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="#Gui/Events/ByTrack">View By Track</a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="#Gui/Events/ByLocation">View By Location</a>

  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="#Gui/Events/MyFavorites">View My Favorites</a>
  </div>
</div>-->

<div class="jumbotron">
  <h1>Hello guys!</h1>
  <p>Choice your event, inserting here the link of the calendar:</p>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="E.g. https://fosdem.org/2015/schedule/xml" aria-describedby="xml-url" ng-model="model.url">
      <span class="input-group-addon" id="xml-url">.xml</span>
  </div>
  <div><a class="btn btn-primary btn-lg" href="#Gui/Events/All" role="button">Load</a></div>
</div><!-- /.jumbotron -->
